#header {
}


.main a {
	font-family: 'KCC-Ganpan'; font-size:2.6rem; 
	display: flex; float:left; padding:1% ; color:#43A75A;
}

.main_nav {
	display: flex; align-items: center;
}
.main_nav ul {
	 display: flex; margin: 0; padding-left: 0; list-style:none;
	 width:1000px;justify-content: space-between; 
}

.main_nav ul li {
	display:inline-block; padding:3%;  width: 20%;
} 

.main_nav ul li a {
	font-size:1.6rem; 
	position:relative; padding:6px 12px;
}

.main_nav ul li a::after {
	font-size:1.6rem; background:#43A75A;
	content:""; position:absolute; bottom:0;left:50%; transform: translate(-50%); transition: all .5s ease-out; width:0; height:4px;
}

.main_nav ul li a:hover::after {
	font-size:1.6rem; width:100%;
}
.sub_nav {
	display: flex; float:left;
}
.sub_nav ul>li {
	display:inline-block; vertical-align:top;
}

.sub_nav ul>li:hover ul{
	 height: 90px; transition-duration: 1s; background:#43A75A; border-radius:10px;
} 

.sub_nav ul>li ul {
	height: 0; overflow: hidden;  transition-duration: 0.5s;
}

.sub_nav ul>li ul li{
	height:20px; padding:5px; display:block;
}

.sub_nav ul>li ul li a {
	color:white; 
}

