/*kcc간판*/
@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*스포카 한 산스*/
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

/*에스코어 드림*/
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

/*고운돋움*/
@font-face {
    font-family: 'GowunDodum-Regular'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin:0; padding:0; text-align: center; font-size: 1.4rem;    
}

html { font-size:62.5%; }

body {
  font-family: 'S-CoreDream-3Light'; color:rgb(50,50,50); 
}

h1 {
   font-size: 2rem;    
}
h1 {
   font-size: 2rem;    
}
ul,li {
  list-style: none;
}

a {
	text-decoration:none; color:rgb(50,50,50);
}
