#loginForm {
   margin:auto; width:400px; 
}

#loginForm h1, #joinForm h1 {
	margin:50px;
}

#loginForm .member_input input {
	width:100%; padding:20px; margin:10px 0; text-align:left;
}

#loginForm .member_find {
    text-align: right; margin-bottom: 20px;
}

#loginForm ul li a.login_button {
	display:inline-block; width:100%; padding:20px 0; margin:10px 0; box-sizing: border-box ;
    background-color:rgb(100,100,100); border:1px solid rgb(100,100,100); color:white; 
}

#loginForm ul li a.join_button {
	display:inline-block; width:100%; padding:20px 0; margin:10px 0; box-sizing: border-box ;
    border:1px solid rgb(100,100,100); color:rgb(100,100,100);
}

#joinForm {
    margin: 0 auto; width: 600px;
}


#joinForm table tr td:first-child {
	width:100px; text-align:left;
}
#joinForm table tr td:nth-child(2) {
	text-align:left;
}

#joinForm table tr td input {
    padding: 5px; margin:15px 0; text-align:left;
}

#joinForm .hp {
	width:80px; 
}

#joinForm .email {
	width:100px; 
}

#joinForm td .email:nth-child(2) {
	width:120px; 
}

select {
padding:6px; margin:10px 0; 
border: 1px solid rgb(245,245,245);
font-family: inherit;  
background: url("${contextPath}/resources/image/arrow.svg") no-repeat 95% 50%; 
border-radius: 0px; 
-webkit-appearance: none; 
-moz-appearance: none;
appearance: none;
}
select::-ms-expand {
   display: none;
}


#joinForm a.join_button {
	display:inline-block; width:100%; padding:20px 0; margin:10px 0; box-sizing: border-box ;
    background-color:rgb(100,100,100); border:1px solid rgb(100,100,100); color:white; 
}


